@model IEnumerable<MiniInventoryManagementSystem.Models.SupportClass.SalesManCommission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                SalesMan
            </th>
            <th>
                Designation
            </th>
            <th>
                Item Sale
            </th>
            <th>
                Total Sale Price(TK)
            </th>            
            <th>
                Total Purches Price(TK)
            </th>
            <th>
                Commision(TK)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesManName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesManDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesDetailsQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesDetailsPrice)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.TotalPurchesDetailsPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
        </tr>
}
    </tbody>
</table>
