@model MiniInventoryManagementSystem.Models.SupportClass.Sales_and_SalesDetails

@{
    ViewData["Title"] = "Delete Sale Product";
}

<style>
    .card {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>

<div class="card pt-5">
    <h3 class="ms-5">Are you sure? you want to delete Sales Details?</h3>
    <div class="ms-5 mb-3">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sales_CustomerId)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sales_CustomerId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sales_CustomerName)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sales_CustomerName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesDetails_ProductId)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesDetails_ProductId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesDetails_ProductName)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesDetails_ProductName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.catagoryName)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.catagoryName)
            </dd>                       
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesId)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sales_SalesManId)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sales_SalesManId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Sales_SalesManName)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Sales_SalesManName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesDetailsPrice)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesDetailsPrice)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesDetailsQuantity)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesDetailsQuantity)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.SalesDate)
            </dt>:
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.SalesDate)
            </dd>            
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="SalesDetailsId" />
            <input type="hidden" asp-for="SalesId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
    <div class="ms-2">
        <a asp-action="Index" class="text-decoration-none"><i class="bi bi-caret-left-square fs-6"></i>Back To Sales Details</a>
    </div>
</div>
