@model IEnumerable<MiniInventoryManagementSystem.Models.Customer>

@{
    ViewData["Title"] = "Index of Customer";
}
<link rel="stylesheet" href=@Url.Content("~/DataTablePrint/datatableprint.css")>
<link rel="stylesheet" href=@Url.Content("~/DataTablePrint/datatableprint_jQuery.css")>
<style>
    .addCatagory {
        text-align: right;
    }

        .addCatagory a {
            border-radius: 10px;
        }
</style>

<div class="p-4 pb-1">
    <h1 class="text-center">All Record's of Customer</h1>
    <div class="row mt-5 mb-4">
        <table id="CustomDataTable" class="table display" style="width:100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th style=" display: none;"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        @{
                            i++;
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerEmail)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CustomerId"><i class="bi bi-pencil-square text-danger fs-5"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.CustomerId"><i class="bi bi-person-vcard text-danger fs-5"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.CustomerId"><i class="bi bi-trash text-danger fs-5"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p class="addCatagory">
        <a asp-action="Create" class="btn btn-primary fs-5">Add New Customer</a>
    </p>
</div>

@section Scripts {
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery.js")></script>
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery2.js")></script>
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery3.js")></script>
    <script src=@Url.Content("~/DataTablePrint/Datatable_JQuery4.js")></script>
    <script>
        $(document).ready(function () {
            $('#CustomDataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ],
            });
        });
    </script>
}
