@model IEnumerable<MiniInventoryManagementSystem.Models.SupportClass.StockAndProfitOverview>

@{
    ViewData["Title"] = "Overall Profit And Stock";
}
<link rel="stylesheet" href=@Url.Content("~/DataTablePrint/datatableprint.css")>
<link rel="stylesheet" href=@Url.Content("~/DataTablePrint/datatableprint_jQuery.css")>
<style>
    table tr th td{
        border:1px solid black !important;
    }
</style>

<div class="p-4 pb-1">
    <h1 class="text-center">View Oveall Stock and Profit</h1>
    <div class="row mt-3 mb-4">
        <table id="CustomDataTable" class="table table-hover text-center" style="width:100%">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>
                        Catagory
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Purches QTY
                    </th>
                    <th>
                        Purches PRice
                    </th>
                    <th>
                        Sales QTY
                    </th>
                    <th>
                        Sales Price
                    </th>
                    <th>
                        Total Price of Sale Item
                    </th>
                    <th>
                        Total Price of Purches
                    </th>
                    <th>
                        Profit/Loss
                    </th>
                    <th>
                        Available Product
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        @{
                            i++;
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.CatagoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchesDetailsQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchesDetailsPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesDetailsQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesDetailsPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesDetailsTotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParchesDetailsTotalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stock)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery.js")></script>
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery2.js")></script>
    <script src=@Url.Content("~/DataTablePrint/DataTable_JQuery3.js")></script>
    <script src=@Url.Content("~/DataTablePrint/Datatable_JQuery4.js")></script>
    <script>
        $(document).ready(function () {
            $('#CustomDataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ],
            });
        });
    </script>
}
